<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Pacientes</title>
</head>
<body>
    <h1>Pacientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Fecha de Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.id}"></td>
                <td th:text="${paciente.nombre}"></td>
                <td th:text="${paciente.dni}"></td>
                <td th:text="${paciente.fechaNacimiento}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>